# Install PyQt 4.10.3 manually
# Install Mecab 0.996 manually
SQLAlchemy==0.9.3
jcconv==0.2.3
pyparsing==2.0.1
lxml==3.3.1
https://python-progressbar.googlecode.com/files/progressbar-2.3.tar.gz
future
https://github.com/PureMVC/puremvc-python-standard-framework/archive/v1.3.tar.gz
